<div class="container-fluid">
  <app-page-title
    title="Form Validation"
    subTitle="Ensure data accuracy and user input quality with built-in and custom validation techniques using Bootstrap and JavaScript."
    [badge]="{icon:'lucideShieldCheck',text:'Validation Rules'}"
  />

  <div class="row">
    <div class="col-lg-12">
      <app-custom-styles />

      <app-tooltips-validation />

      <app-server-side />

      <app-supported-elements />

      <app-browser-defaults />
    </div>
  </div>
</div>
