<div class="container-fluid">
  <app-page-title
    title="Menus & Navigation Links"
    subTitle="Design intuitive navigation with menus, dropdowns, navbars, and link variations to guide user flow effectively."
    [badge]="{icon: 'lucideNavigation', text: 'Site Structure'}"
  />

  <div class="row">
    <div class="col-12">
      <app-breadcrumbs />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-dropdowns />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-links />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-list-groups />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-pagination />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-scrollspy />
    </div>
  </div>
</div>
