<div class="container-fluid">
  <app-page-title
    title="Core UI Elements"
    subTitle="Explore essential components like buttons, alerts, images, badges, and more to build consistent, responsive interfaces."
    [badge]="{icon: 'lucideLayoutGrid', text: 'UI Essentials'}"
  />

  <div class="row">
    <div class="col-12">
      <app-buttons />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-images />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-badges />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-accordions />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-alerts />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-cards />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-videos />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-typography />
    </div>
  </div>
</div>
