<div class="container-fluid">
  <app-page-title
    title="Interactive Components"
    subTitle="Enhance user experience with dynamic Bootstrap elements like modals, collapses, tabs, tooltips, and more."
    [badge]="{icon: 'lucideLayoutGrid', text: 'UI Essentials'}"
  />

  <div class="row">
    <div class="col-12">
      <app-collapse />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-modals />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-notifications />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-offcanvas />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-popovers />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-tabs />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-tooltips />
    </div>
  </div>
</div>
