<header class="app-topbar">
  <div class="container-fluid topbar-menu">
    <div class="d-flex align-items-center align-items-center gap-2">
      <app-app-logo />

      <div class="d-lg-none d-flex mx-1">
        <a routerLink="/">
          <img src="assets/images/logo.png" height="28" alt="Logo" />
        </a>
      </div>

      <button
        class="button-collapse-toggle d-xl-none"
        (click)="toggleSidebar()"
      >
        <ng-icon name="lucideMenu" class="fs-22"></ng-icon>
      </button>

    </div>

    <div class="d-flex align-items-center gap-2">
      <div class="app-search d-none d-xl-flex me-xl-2">
        <input
          type="search"
          class="form-control topbar-search"
          name="search"
          placeholder="Search for something..."
        />
        <ng-icon name="lucideSearch" class="app-search-icon text-muted" />
      </div>

      <app-theme-dropdown />

      <app-language-dropdown class="d-none d-md-flex" />

      <app-customizer-toggler class="d-none d-sm-flex" />

      <app-theme-toggler class="d-none d-sm-flex" />

      <app-user-profile-topbar />
    </div>
  </div>
</header>
