<div
  class="d-flex justify-content-between text-bg-primary gap-2 p-3"
>
  <div>
    <h5 class="mb-1 fw-bold text-white text-uppercase">Layout Customizer</h5>
    <p class="text-white text-opacity-75 fst-italic fw-medium mb-0">
      Configure layout, styles, and preferences for your admin interface.
    </p>
  </div>

  <div class="flex-grow-0">
    <button
      (click)="close()"
      type="button"
      class="d-block btn btn-sm bg-white bg-opacity-25 text-white rounded-circle btn-icon"
    >
      <ng-icon name="tablerX" class="fs-lg" />
    </button>
  </div>
</div>

<ngx-simplebar class="offcanvas-body p-0 h-100" style="max-height: 80vh">
  <div class="p-3 border-bottom border-dashed">
    <h5 class="mb-3 fw-bold">Color Scheme</h5>
    <div class="d-flex gap-2">
      @for (item of themeOptions; track item) {
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="data-bs-theme"
          [id]="'theme-' + item"
          [value]="item"
          [checked]="layout.theme === item"
          (change)="layout.setTheme(item)"
        />
        <label
          class="form-check-label"
          [for]="'theme-' + item"
        >
          {{ item.charAt(0).toUpperCase() + item.slice(1) }}
        </label>
      </div>
      }
    </div>
  </div>

  <div class="p-3 border-bottom border-dashed">
    <h5 class="mb-3 fw-bold">Topbar Color</h5>
    <div class="d-flex gap-2">
      @for (item of topBarColorOptions; track item) {
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="data-topbar-color"
          [id]="'topbar-color-' + item"
          [value]="item"
          [checked]="layout.topbarColor === item"
          (change)="layout.setTopbarColor(item)"
        />
        <label
          class="form-check-label"
          [for]="'topbar-color-' + item"
        >
          {{ item.charAt(0).toUpperCase() + item.slice(1) }}
        </label>
      </div>
      }
    </div>
  </div>

  <div class="p-3 border-bottom border-dashed">
    <h5 class="mb-3 fw-bold">Sidenav Color</h5>
    <div class="d-flex gap-2">
      @for (item of sidenavColorOptions; track item) {
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="data-menu-color"
          [id]="'sidenav-color-' + item"
          [value]="item"
          [checked]="layout.sidenavColor === item"
          (change)="layout.setSidenavColor(item)"
        />
        <label
          class="form-check-label"
          [for]="'sidenav-color-' + item"
        >
          {{ item.charAt(0).toUpperCase() + item.slice(1) }}
        </label>
      </div>
      }
    </div>
  </div>

  <div class="p-3 border-bottom border-dashed">
    <h5 class="mb-3 fw-bold">Sidebar Size</h5>
    <div class="d-flex gap-2">
      @for (item of sidenavSizeOptions; track item.size) {
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="data-sidenav-size"
          [id]="'sidenav-size-' + item.size"
          [value]="item.size"
          [checked]="layout.sidenavSize === item.size"
          (change)="layout.setSidenavSize(item.size)"
        />
        <label
          class="form-check-label"
          [for]="'sidenav-size-' + item.size"
        >
          {{ item.label }}
        </label>
      </div>
      }
    </div>
  </div>

  <div class="p-3 border-bottom border-dashed">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="fw-bold mb-0">Layout Position</h5>
      <div class="btn-group radio" role="group">
        @for (item of layoutPositionOptions; track item) {
        <input
          type="radio"
          class="btn-check"
          name="data-layout-position"
          [id]="'layout-position-' + item"
          [value]="item"
          [checked]="layout.position === item"
          (change)="layout.setLayoutPosition(item)"
        />
        <label
          class="btn btn-sm btn-soft-primary w-sm"
          [for]="'layout-position-' + item"
        >
          {{ item.charAt(0).toUpperCase() + item.slice(1) }}
        </label>
        }
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0">
        <label class="fw-bold m-0" for="sidebaruser-check"
          >Sidebar User Info</label
        >
      </h5>
      <div class="form-check form-switch fs-lg">
        <input
          type="checkbox"
          class="form-check-input"
          name="sidebar-user"
          [checked]="layout.sidenavUser"
          (change)="layout.toggleSidenavUser()"
        />
      </div>
    </div>
  </div>
</ngx-simplebar>

<!-- Footer -->
<div class="offcanvas-footer border-top p-3 text-center">
  <div class="row">
    <div class="col-6">
      <button
        (click)="layout.reset()"
        type="button"
        class="btn btn-primary fw-semibold py-2 w-100"
        id="reset-layout"
      >
        Reset
      </button>
    </div>
    <div class="col-6">
      <a
        (click)="close()"
        class="btn btn-secondary py-2 fw-semibold w-100"
        >Close</a
      >
    </div>
  </div>
</div>
