<div class="sidenav-menu">
  <ngx-simplebar id="sidenav" class="scrollbar">
    <!-- User -->
    @if (layout.sidenavUser) {
      <app-user-profile />
    }

    <!--- Sidenav Menu -->
    <app-menu />
  </ngx-simplebar>
  <div class="menu-collapse-box d-none d-xl-block">
    <button class="button-collapse-toggle" (click)="toggleCollapseMenu()">
      <ng-icon
        name="tablerLayoutDashboard"
        class=".align-middle flex-shrink-0"
      />
      <span>Admin Panel</span>
    </button>
  </div>
</div>
