<div class="container-fluid">
  <app-page-title
    title="The Ultimate Admin & Dashboard Theme"
    subTitle="A premium collection of elegant, accessible components and a powerful codebase. Built for modern frameworks. Developer Friendly. Production Ready."
    [badge]="{icon: 'lucideSparkles', text: 'Medium and Large Business'}"
  />

  <div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1">
    <div class="col">
      <app-prompts-usage />
    </div>

    <div class="col">
      <app-active-users />
    </div>

    <div class="col">
      <app-response-accuracy />
    </div>

    <div class="col">
      <app-token-usage />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-request-statistics />
    </div>
  </div>

  <div class="row">
    <div class="col-xxl-6">
      <app-recent-sessions />
    </div>

    <div class="col-xxl-6">
      <app-model-usage-summary />

      <app-api-performance-metrics />
    </div>
  </div>
</div>
