<div class="container-fluid">
  <app-page-title
    title="Basic Form Elements"
    subTitle="Build functional forms with input fields, checkboxes, radios, selects, and other essential form controls."
    [badge]="{icon:'lucideClipboardList',text:'Form Basics'}"
  />

  <div class="row">
    <div class="col-xl-12">
      <app-input-fields />

      <app-input-types />

      <app-input-groups />

      <app-floating-labels />

      <app-input-sizes />

      <app-checkboxes-and-radios />
    </div>
  </div>
</div>
