<div class="container-fluid">
  <app-page-title
    title="Charts & Graphs"
    subTitle="Visualize data with interactive and responsive charts powered by Chart.js — including bar, line, pie, and more."
    [badge]="{icon:'lucideChartBar',text:'Chart.js Visuals'}"
  />

  <app-basic-charts />

  <h4 class="mb-3 fw-bold">Bar Charts</h4>

  <app-bar-charts />

  <h4 class="mb-3 fw-bold">Line Charts</h4>

  <app-line-charts />

  <h4 class="mb-3 fw-bold">Other Charts</h4>

  <app-other-charts />
</div>
