<div class="container-fluid">
  <app-page-title
    title="Visual Feedback"
    subTitle="Display loading states, progress indicators, carousels, and other UI elements that inform users of ongoing processes."
    [badge]="{icon: 'lucideLoaderCircle', text: 'User Cues'}"
  />

  <div class="row">
    <div class="col-xl-12">
      <app-progress />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-spinners />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-carousels />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-placeholders />
    </div>
  </div>
</div>
